body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

img {
	width: 100%;
}

.heading-name, .heading-one, .heading-two, .heading-four {
	margin: 0;
	font-weight: 200;
}

a {
	text-decoration: none;
	color:  initial;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 2em;
	font-family: Raleway, sans-serif;
	color: #2d3c49;
	max-width: 1000px;
	font-weight: 200;
}

.container-header {
	display: flex;
	justify-content: space-between;
	height: 20%;
	align-items: center;
}

.container-main-content {
	display: flex;
	flex-direction: column;
}

.container-project-content {
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.container-hero-img {
	margin: 1.5em 0em;
}

.logo {
	max-width: 100px;
	max-height: 100px;
	display: flex;
	margin: auto 0;
}

.hero-image {
	max-width: 1050px;
	border-radius: 5px;
	max-height: 500px;
	display: block;
	margin: 0 auto;
}

.project-image {
	border-radius: 5px;
	height: 230px;
	width: 100%;
	display: block;
}

.project-module {
	width: 30%;
}

.hr {
	border-top: 2px solid #7d97ad;
	width: 100%;
}

.header-text {
	text-align: right;
}

.heading-one {
	margin: 1em;
}

.heading-two {
	margin: .5em;
	font-weight: 400;
}

.heading-four {
	font-weight: 500;
}

@media screen and (min-width: 1080px){
	.container {
		margin: 2em auto;
	}
}

@media screen and (max-width: 800px){
	.container-project-content {
		flex-wrap: wrap;
		justify-content: center;
	}
	.project-module {
		width: 40%;
		margin: .5em;
	}
	.heading-one {
		margin: .5em auto;
		font-size: 25px;
	}
}

@media screen and (max-width: 600px){
		.project-module {
		width: 70%;
		margin: .5em;
	}
}

@media screen and (max-width: 450px){
		.project-module {
		width: 100%;
		margin: .5em;
	}
	.container-header {
		flex-direction: column;
	}
	.header-text {
	text-align: center;
	}
	.container {
		margin: 0 2em;
	}
}

